Repository Pan-Canadian-Genome-Library/daco, pull requests merged in 2025-02, with the labels that each got.

#181 #164: Add Form Validation for Project Information Page
  apps/ui/src/global/constants.ts
  packages/validation/src/common/strings.ts
  packages/validation/src/schemas.ts
  packages/validation/src/utils/regex.ts
Labels: validation-package

#193 #187: Implement Validation for Requested Study
  packages/validation/src/schemas.ts
Labels: validation-package

#196 #142 Rename Project Abstract
  apps/api/drizzle/0003_rename_project_abstract.sql
  apps/api/drizzle/meta/0003_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.dbml
  apps/api/src/db/schemas/applicationContents.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/utils/routes.ts
  packages/data-model/src/types.ts
Labels: chore, data-model, daco-api

#199 #141: Chore: Add Project Aims 🎯
  apps/api/drizzle/0004_add_project_aims_field.sql
  apps/api/drizzle/meta/0004_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.dbml
  apps/api/src/db/schemas/applicationContents.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/utils/routes.ts
  packages/data-model/src/types.ts
Labels: chore, API

#197 #186 and #189: Add Application Viewer and Validation for Data Access Agreement
  apps/api/tests/services/application-service.test.ts
  apps/ui/src/components/pages/application/SectionTitle.tsx
  apps/ui/src/components/pages/application/form-components/CheckboxGroup.tsx
  apps/ui/src/components/providers/ThemeProvider.tsx
  apps/ui/src/i18n/locale/en/enFormErrors.json
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/i18n/locale/en/enTranslations.json
  apps/ui/src/i18n/translations.ts
  apps/ui/src/pages/AppRouter.tsx
  apps/ui/src/pages/applications/sections/access.tsx
  packages/data-model/src/types.ts
  packages/validation/package.json
  packages/validation/src/schemas.ts
  pnpm-lock.yaml
Labels: data-model, daco-ui, validation-package

#179 #119: Add REST endpoint for DAC to reject applications
  apps/api/src/controllers/applicationController.ts
  apps/api/src/controllers/stateManager.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/application-router.ts
  apps/api/tests/api/application-api.test.ts
Labels: daco-api

#204 #203: Interpolate Zod Custom Errors
  apps/ui/src/i18n/translations.ts
  packages/validation/src/common/strings.ts
Labels: daco-ui

#226 🕷️ Bug: Delete 'Create' Action records
  apps/api/drizzle/0002_remove_create_actions.sql
Labels: bug, daco-api

#236 Bug: Use Default 'DAC_MEMBER' User Role
  apps/api/src/routes/authRouter.ts
Labels: bug, daco-api

#240 Bug: Update Drizzle Config to read from `src`
  apps/api/README.md
  apps/api/drizzle.config.ts
  apps/api/src/db/schemas/agreements.ts
  apps/api/src/db/schemas/applicationActions.ts
  apps/api/src/db/schemas/applicationContents.ts
  apps/api/src/db/schemas/applications.ts
  apps/api/src/db/schemas/collaborators.ts
  apps/api/src/db/schemas/files.ts
  apps/api/src/db/schemas/index.ts
  apps/api/src/db/schemas/revisionRequests.ts
  apps/api/tsconfig.json
Labels: bug, daco-api

#218 #63 Feat: Revoke, Withdraw, & Close state transitions
  apps/api/src/controllers/stateManager.ts
  apps/api/tests/api/application-state.test.ts
  apps/api/tests/services/application-action-service.test.ts
  apps/api/tests/services/application-service.test.ts
  apps/api/tests/testUtils.ts
Labels: enhancement, daco-api
