Repository Pan-Canadian-Genome-Library/daco, pull requests merged in 2025-05, with the labels that each got.

#381 #358: Increase Query Page Size on `/dashboard`
  apps/ui/src/api/apiUtils.ts
  apps/ui/src/api/mutations/useCloseApplication.ts
  apps/ui/src/api/mutations/useCreateSignature.ts
  apps/ui/src/api/queries/useGetApplicationList.ts
  apps/ui/src/components/pages/ErrorPage.tsx
  apps/ui/src/components/pages/dashboard/cards/ApplicationCard.tsx
  apps/ui/src/pages/dashboard.tsx
Labels: UI

#369 #266: Get Application Revisions & Applicant Submit Revisions API Integration
  apps/api/src/controllers/applicationController.ts
  apps/api/src/controllers/stateManager.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/src/service/applicationService.ts
  apps/api/src/utils/aliases.ts
  apps/api/tests/api/application-controller.test.ts
  apps/api/tests/api/application-state.test.ts
  apps/api/tests/api/file-api.test.ts
  apps/ui/src/api/mutations/useSubmitRevisions.ts
  apps/ui/src/api/queries/useGetApplicationFeedback.ts
  apps/ui/src/api/queries/useGetSignatures.ts
  apps/ui/src/components/pages/application/SectionFooter.tsx
  apps/ui/src/components/pages/application/SectionMenu.tsx
  apps/ui/src/components/pages/application/SectionMenuItem.tsx
  apps/ui/src/components/pages/application/SectionTitle.tsx
  apps/ui/src/global/types.ts
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/i18n/locale/en/enTranslations.json
  apps/ui/src/pages/applications/index.tsx
  apps/ui/src/pages/applications/sections/access.tsx
  apps/ui/src/pages/applications/sections/appendices.tsx
  apps/ui/src/pages/applications/sections/applicant.tsx
  apps/ui/src/pages/applications/sections/collaborators.tsx
  apps/ui/src/pages/applications/sections/ethics.tsx
  apps/ui/src/pages/applications/sections/institutional.tsx
  apps/ui/src/pages/applications/sections/project.tsx
  apps/ui/src/pages/applications/sections/requestedStudy.tsx
  apps/ui/src/pages/applications/sections/sign.tsx
  apps/ui/src/pages/applications/utils/canEditSection.ts
  apps/ui/src/providers/context/application/ApplicationContextProvider.tsx
  apps/ui/src/providers/context/application/types.ts
  packages/data-model/src/types.ts
  packages/validation/src/routes/applicationRoutes.ts
Labels: UI, data-model, API, validation-package

#394 #303: Update Withdraw Modal Text
  apps/api/src/routes/applicationRouter.ts
  apps/ui/src/i18n/locale/en/enModals.json
Labels: UI, chore

#403 hotfix: 🦝 try and fix redirect race condition
  apps/api/src/routes/applicationRouter.ts
  apps/ui/src/pages/AppRouter.tsx
  apps/ui/src/pages/login/redirect/index.tsx
Labels: bug, UI, API

#404 hotfix: :adhesive_bandage: Collaborators UI was displaying incorrect error message
  apps/api/src/routes/collaboratorsRouter.ts
  apps/ui/src/api/mutations/useAddCollaborator.ts
  apps/ui/src/pages/AppRouter.tsx
  packages/request-utils/src/types.ts
Labels: bug, UI, API

#365 #305: Integrate Request Revisions modal with DAC Request Revisions endpoint
  apps/ui/src/api/mutations/useRequestRevisions.ts
  apps/ui/src/components/pages/application/ApplicationStatusSteps.tsx
  apps/ui/src/components/pages/application/ApplicationViewerHeader.tsx
  apps/ui/src/components/pages/application/modals/RequestRevisionsModal.tsx
Labels: daco-ui

#405 hotfix: 👺 clear extra session info on logout
  apps/ui/src/components/Header.tsx
Labels: UI, chore

#409 chore: 👩‍💼 Switch to Rep Mode
  apps/api/src/service/authService.ts
Labels: chore, API

#414 fix: 🔧 rep redirect wasn't working right, make role an `.env` variable for testing
  apps/api/.env.schema
  apps/api/src/config/serverConfig.ts
  apps/api/src/service/authService.ts
  apps/ui/src/pages/review/index.tsx
Labels: DevOps, chore, API

#421 #402: Address QA Feedback, Redirect users to `/dashboard` upon clicking "Back To Homepage" button
  apps/ui/src/components/pages/NotFound.tsx
  apps/ui/src/pages/AppRouter.tsx
Labels: UI, chore
