Repository Pan-Canadian-Genome-Library/daco, pull requests merged in 2025-04, with the labels that each got.

#314 #312: Remove Agreements Table and Add Appendices into `application_contents`
  apps/api/drizzle/0008_remove_agreements_table_add_appendices.sql
  apps/api/drizzle/meta/0008_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.dbml
  apps/api/src/db/schemas/agreements.ts
  apps/api/src/db/schemas/applicationContents.ts
  apps/api/src/db/schemas/index.ts
  docs/model/data-model.dbml
  docs/model/data-model.png
Labels: documentation, chore, data-model, API

#285 #178 🧽 Chore: Refactor Alias functions
  apps/api/package.json
  apps/api/src/controllers/applicationController.ts
  apps/api/src/controllers/collaboratorsController.ts
  apps/api/src/controllers/signatureController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/utils/aliases.ts
  apps/api/src/utils/routes.ts
  apps/api/src/utils/schemas.ts
  apps/api/tests/api/signature-api.test.ts
  apps/api/tests/functions/alias-utils.test.ts
  packages/validation/src/routes/applicationRoutes.ts
  packages/validation/src/routes/signatureRoutes.ts
  pnpm-lock.yaml
Labels: enhancement, chore, daco-api

#337 #209, #210, #265, #292, #293 & #299: Various QA and Copy Fixes
  apps/ui/src/components/pages/application/form-components/ESignature.tsx
  apps/ui/src/components/pages/application/modals/AddCollaboratorModal.tsx
  apps/ui/src/components/pages/application/modals/EditCollaboratorModal.tsx
  apps/ui/src/components/pages/application/modals/RequestRevisionsModal.tsx
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/pages/applications/sections/applicant.tsx
  apps/ui/src/pages/applications/sections/institutional.tsx
  apps/ui/src/pages/applications/sections/sign.tsx
  packages/validation/src/schemas.ts
Labels: UI

#345 #258: Feature/Submit Application UI integeration (Connect Submit Application button to submission endpoint)
  apps/api/src/routes/applicationRouter.ts
  apps/ui/src/api/mutations/useSubmitApplication.ts
  apps/ui/src/components/pages/application/SectionFooter.tsx
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/pages/applications/sections/sign.tsx
Labels: daco-ui

#349 feat: 🔏 Add Auth Protection to `/files` & standardize Associated Rep Checks
  apps/api/src/controllers/fileController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/src/routes/fileRouter.ts
  apps/api/src/routes/signatureRouter.ts
  apps/api/src/server.ts
  apps/api/src/service/authService.ts
  apps/api/src/service/fileService.ts
  apps/api/src/utils/aliases.ts
  apps/ui/src/api/mutations/useSubmitApplication.ts
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/pages/applications/sections/requestedStudy.tsx
  packages/data-model/src/types.ts
  packages/request-utils/src/error/ErrorResponse.ts
  packages/request-utils/src/error/ServerErrorResponse.ts
  packages/request-utils/src/errorHandler.ts
  packages/request-utils/src/errors.ts
  packages/request-utils/src/index.ts
  packages/request-utils/src/responses.ts
  packages/request-utils/src/types.ts
  packages/validation/src/routes/fileRoutes.ts
Labels: data-model, API, request-utils-package, Files API

#350 #257: Integrate Close Application button with close app endpoint
  apps/ui/src/api/mutations/useCloseApplication.ts
  apps/ui/src/components/pages/application/ApplicationViewerHeader.tsx
  apps/ui/src/i18n/locale/en/enModals.json
Labels: daco-ui

#364 #313, #322: Better Error Messages, Make Position Title Optional and Other QoL Fixes
  apps/api/drizzle/0010_make_collaborators_postition_optional.sql
  apps/api/drizzle/meta/0010_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/controllers/collaboratorsController.ts
  apps/api/src/db/schema.dbml
  apps/api/src/db/schemas/collaborators.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/service/collaboratorsService.ts
  apps/ui/src/api/apiUtils.ts
  apps/ui/src/api/mutations/useAddCollaborator.ts
  apps/ui/src/api/mutations/useDeleteCollaborator.ts
  apps/ui/src/api/mutations/useEditCollaborator.ts
  apps/ui/src/components/pages/application/modals/AddCollaboratorModal.tsx
  apps/ui/src/global/types.ts
  apps/ui/src/i18n/locale/en/enSection.json
  docs/model/data-model.dbml
  docs/model/data-model.png
  packages/data-model/src/types.ts
  packages/validation/src/routes/collaboratorsRoutes.ts
  packages/validation/src/schemas.ts
Labels: UI, chore, API

#370 feat: 📤 Withdraw Application API
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/src/utils/aliases.ts
  apps/api/tests/api/application-controller.test.ts
  packages/validation/src/routes/applicationRoutes.ts
Labels: enhancement, API, validation-package

#373 #303: API Integration - Applicant Withdraw Flow
  apps/ui/src/api/mutations/useWithdrawApplication.ts
  apps/ui/src/api/queries/useGetApplication.ts
  apps/ui/src/components/pages/application/ApplicationViewerHeader.tsx
  apps/ui/src/components/pages/application/modals/WithdrawModal.tsx
  apps/ui/src/i18n/locale/en/enModals.json
  apps/ui/src/pages/applications/index.tsx
Labels: enhancement, UI

#383 #348: Make the entire "Start a New Application" card clickable
  apps/ui/src/components/pages/dashboard/cards/NewApplicationCard.tsx
Labels: daco-ui

#375 #351: Change Application Cards Behaviour
  apps/ui/src/api/queries/useGetFile.ts
  apps/ui/src/components/pages/application/ApplicationStatusSteps.tsx
  apps/ui/src/components/pages/application/SectionMenuItem.tsx
  apps/ui/src/components/pages/application/form-components/BlockRadioBox.tsx
  apps/ui/src/components/pages/application/form-components/CheckboxGroup.tsx
  apps/ui/src/components/pages/dashboard/cards/ApplicationCard.tsx
  apps/ui/src/components/pages/dashboard/getApplicationStateProps.ts
  apps/ui/src/providers/ThemeProvider.tsx
Labels: UI, chore

#379 #168 & #374: ♻️ Refactor Collaborators API, fix deleting collaborators checks
  apps/api/drizzle/0011_make_appID_email_pk_collaborators.sql
  apps/api/drizzle/0012_remove_id_from_collaborators.sql
  apps/api/drizzle/meta/0011_snapshot.json
  apps/api/drizzle/meta/0012_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/controllers/collaboratorsController.ts
  apps/api/src/db/schemas/collaborators.ts
  apps/api/src/db/utils.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/src/service/applicationService.ts
  apps/api/src/service/collaboratorsService.ts
  apps/api/src/utils/aliases.ts
  apps/api/tests/api/application-controller.test.ts
  apps/api/tests/api/collaborators-controller.test.ts
  apps/api/tests/services/collaborators-service.test.ts
  apps/ui/src/api/mutations/useDeleteCollaborator.ts
  apps/ui/src/api/mutations/useEditCollaborator.ts
  apps/ui/src/components/pages/application/modals/AddCollaboratorModal.tsx
  apps/ui/src/components/pages/application/modals/DeleteCollaboratorModal.tsx
  apps/ui/src/components/pages/application/modals/EditCollaboratorModal.tsx
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/pages/applications/sections/collaborators.tsx
  packages/data-model/src/types.ts
  packages/validation/src/routes/collaboratorsRoutes.ts
Labels: UI, chore, API, validation-package
