Repository Pan-Canadian-Genome-Library/daco, pull requests merged in 2025-01, with the labels that each got.

#143 💻 Feat / #72 Setup Logging
  apps/api/.env.schema
  apps/api/README.md
  apps/api/debug.log
  apps/api/package.json
  apps/api/src/logger.ts
  apps/api/src/server.ts
  apps/ui/src/components/pages/manage/DashboardFilter.tsx
  packages/logger/.eslintignore
  packages/logger/eslint.config.js
  packages/logger/package.json
  packages/logger/src/client/LogLevel.ts
  packages/logger/src/client/config.ts
  packages/logger/src/client/index.ts
  packages/logger/src/client/logger.ts
  packages/logger/src/client/stringUtils.ts
  packages/logger/src/index.ts
  packages/logger/src/middleware/dependencyDataTypes.ts
  packages/logger/src/middleware/index.ts
  packages/logger/src/types/recursivePartial.ts
  packages/logger/src/types/values.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
Labels: daco-api

#133 Feat/89 Application History service
  apps/api/README.md
  apps/api/drizzle/0001_revised_actions_and_states.sql
  apps/api/drizzle/meta/0001_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/api/application-api.ts
  apps/api/src/api/states.ts
  apps/api/src/db/schema.dbml
  apps/api/src/db/schemas/applicationActions.ts
  apps/api/src/db/schemas/applications.ts
  apps/api/src/db/schemas/index.ts
  apps/api/src/db/schemas/revisionRequests.ts
  apps/api/src/service/applicationActionService.ts
  apps/api/src/service/applicationService.ts
  apps/api/src/service/types.ts
  apps/api/src/service/utils.ts
  apps/api/tests/api/application-api.test.ts
  apps/api/tests/api/application-state.test.ts
  apps/api/tests/db/index.test.ts
  apps/api/tests/services/application-action-service.test.ts
  apps/api/tests/services/application-service.test.ts
  apps/api/tests/testUtils.ts
  apps/ui/src/components/pages/dashboard/getApplicationStateProps.ts
  docs/model/data-model.dbml
  packages/data-model/src/types.ts
  pnpm-lock.yaml
Labels: daco-api

#158 Connect UI to API through /api proxy
  Dockerfile
  apps/api/docker-compose.yml
  apps/ui/.env.schema
  apps/ui/docker/nginx.conf
  apps/ui/docker/nginx.conf.template
  apps/ui/index.html
  apps/ui/package.json
  apps/ui/src/global/FetchClient.ts
  apps/ui/src/index.tsx
  apps/ui/src/pages/AppRouter.tsx
  apps/ui/src/vite-env.d.ts
  apps/ui/vite.config.ts
  docs/diagrams/README.md
  docs/diagrams/ui-server-deployment-dev-and-prod.png
  docs/diagrams/ui-server-deployment.tldr
  docs/ui-api-connection.md
  package.json
  packages/data-model/package.json
  pnpm-lock.yaml
Labels: UI, New Feature, DevOps

#156 #154: Create API Route to Get State Totals
  apps/api/src/api/application-api.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/application-router.ts
  apps/api/src/service/applicationService.ts
  apps/api/tests/api/application-api.test.ts
  apps/api/tests/services/application-service.test.ts
Labels: daco-api

#160 #157: Homepage and My Applications Page Enhancements
  apps/ui/src/components/Footer.tsx
  apps/ui/src/components/Header.tsx
  apps/ui/src/components/providers/ThemeProvider.tsx
  apps/ui/src/i18n/locale/en/enTranslations.json
  apps/ui/src/pages/index.tsx
Labels: UI

#148 Add REST Endpoint for DAC Application Approval with Validation and State Management
  apps/api/src/api/application-api.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/application-router.ts
  apps/api/src/service/applicationService.ts
  packages/data-model/src/types.ts
Labels: documentation, New Feature, API

#172 #106: Create Collaborator UI View Page
  apps/ui/src/components/Footer.tsx
  apps/ui/src/components/pages/application/SectionContent.tsx
  apps/ui/src/components/providers/ThemeProvider.tsx
  apps/ui/src/i18n/locale/en/enSection.json
  apps/ui/src/i18n/locale/en/enTranslations.json
  apps/ui/src/pages/AppRouter.tsx
  apps/ui/src/pages/applications/sections/collaborators.tsx
Labels: daco-ui

#171 🐞 Bug / #138 Feedback on Get App by ID
  apps/api/src/api/application-api.ts
  apps/api/src/api/states.ts
  apps/api/src/api/validation.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/application-router.ts
  apps/api/src/routes/types.ts
  apps/api/src/service/applicationActionService.ts
  apps/api/src/service/applicationService.ts
  apps/api/src/service/types.ts
  apps/api/src/utils/routes.ts
  apps/api/tests/api/application-api.test.ts
  apps/api/tests/services/application-action-service.test.ts
  apps/api/tests/services/application-service.test.ts
  apps/ui/src/api/useCreateApplication.ts
  packages/data-model/src/demoData.ts
  packages/data-model/src/main.ts
  packages/data-model/src/types.ts
Labels: bug, daco-api

#177 #128: Applicant Information Validation and PCGL Validation Package
  apps/ui/package.json
  apps/ui/src/components/pages/application/SectionFooter.tsx
  apps/ui/src/i18n/locale/en/enFormErrors.json
  apps/ui/src/i18n/locale/fr/frFormErrors.json
  apps/ui/src/i18n/translations.ts
  apps/ui/src/pages/applications/sections/applicant.tsx
  packages/validation/package.json
  packages/validation/src/common/strings.ts
  packages/validation/src/index.ts
  packages/validation/src/schemas.ts
  packages/validation/src/utils/regex.ts
  packages/validation/tsconfig.json
  pnpm-lock.yaml
Labels: daco-ui, validation-package
