Repository Pan-Canadian-Genome-Library/daco, pull requests merged in 2025-03, with the labels that each got.

#274 fix: 🐛 Regression with Checkbox Group Validation
  apps/ui/src/components/pages/application/form-components/CheckboxGroup.tsx
Labels: bug, daco-ui

#222 #124 🧾 List Collaborators
  apps/api/src/controllers/collaboratorsController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/src/routes/signatureRouter.ts
  apps/api/src/server.ts
  apps/api/src/service/collaboratorsService.ts
  packages/logger/package.json
  packages/request-utils/package.json
  packages/request-utils/src/validation.ts
  packages/validation/src/schemas.ts
  pnpm-lock.yaml
Labels: API

#228 #120: Implement applicant revision submission with status updates and validation
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/tests/api/application-api.test.ts
Labels: daco-api

#279 #169 ✍️ Feat Update Collaborators endpoint
  apps/api/src/controllers/collaboratorsController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/src/service/collaboratorsService.ts
  apps/api/src/service/types.ts
  apps/api/tests/api/collaborators-controller.test.ts
  apps/api/tests/services/collaborators-service.test.ts
  packages/data-model/src/types.ts
  packages/validation/src/routes/collaboratorsRoutes.ts
Labels: daco-api

#276 #214: API to Get Signatures by Application
  apps/api/src/controllers/signatureController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/src/routes/signatureRouter.ts
  apps/api/src/service/signatureService.ts
  apps/api/src/utils/routes.ts
  apps/api/tests/api/signature-api.test.ts
  apps/api/tests/services/signature-service.test.ts
  packages/data-model/src/types.ts
  packages/request-utils/src/validation.ts
  packages/validation/src/routes/collaboratorsRoutes.ts
  packages/validation/src/routes/signatureRoutes.ts
Labels: enhancement, data-model, daco-api, validation-package

#282 #216: Add Applicant Mailing Fields to DB & Update DB Model
  apps/api/drizzle/0007_add_applicant_mailing_address.sql
  apps/api/drizzle/meta/0007_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.dbml
  apps/api/src/db/schemas/applicationContents.ts
  docs/model/data-model.dbml
  docs/model/data-model.png
Labels: documentation, data-model

#217 #116 & #118 : Add endpoints for Rep and DAC to request application revisions
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/src/service/applicationService.ts
  apps/api/src/service/types.ts
  apps/api/tests/api/application-api.test.ts
  packages/validation/src/routes/applicationRoutes.ts
Labels: daco-api

#281 #213: Add API to Delete Signatures
  apps/api/src/controllers/signatureController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/signatureRouter.ts
  apps/api/src/service/signatureService.ts
  apps/api/tests/api/signature-api.test.ts
  apps/api/tests/services/signature-service.test.ts
  packages/data-model/src/types.ts
  packages/request-utils/src/validation.ts
  packages/validation/src/routes/signatureRoutes.ts
Labels: daco-api, validation-package

#245 #121: Add endpoint to allow applicants to close applications
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/tests/api/application-api.test.ts
  packages/validation/src/routes/applicationRoutes.ts
Labels: daco-api

#289 #178 🗑️ Chore Initial Test Updates
  apps/api/package.json
  apps/api/src/controllers/stateManager.ts
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/tests/api/application-controller.test.ts
  apps/api/tests/api/application-state.test.ts
  apps/api/tests/api/collaborators-controller.test.ts
  apps/api/tests/api/file-api.test.ts
  apps/api/tests/api/signature-api.test.ts
  apps/api/tests/db/index.test.ts
  apps/api/tests/services/application-action-service.test.ts
  apps/api/tests/services/application-service.test.ts
  apps/api/tests/services/collaborators-service.test.ts
  apps/api/tests/services/file-service.test.ts
  apps/api/tests/services/signature-service.test.ts
  apps/api/tests/utils/fileuploadtest-2.docx
  apps/api/tests/utils/fileuploadtest.docx
  apps/api/tests/utils/testUtils.ts
Labels: enhancement, chore, daco-api

#224 #115 : Add endpoint to submit application with signature validation
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/tests/api/application-controller.test.ts
  packages/validation/src/routes/applicationRoutes.ts
Labels: daco-api

#309 fix: 🐛 add templating in language file
  apps/ui/src/i18n/locale/en/enFormErrors.json
Labels: bug, chore, validation-package

#287 #123: Add REST endpoint for applicant and DAC to revoke application
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/tests/api/application-controller.test.ts
Labels: daco-api

#308 #255: Implement API to retrieve Rep and DAC revisions
  apps/api/src/controllers/applicationController.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/src/service/applicationService.ts
  apps/api/tests/api/application-controller.test.ts
Labels: daco-api

#317 chore: 🌸 Run Prettier on Unformatted Code
  apps/api/src/controllers/applicationController.ts
  apps/api/src/routes/applicationRouter.ts
  packages/validation/src/routes/applicationRoutes.ts
Labels: chore, API

#315 Bug: 🕷️ Additional Test case fixes
  apps/api/tests/api/application-controller.test.ts
Labels: bug

#221 #50: API Route Authentication Protections
  apps/api/.env.schema
  apps/api/package.json
  apps/api/src/config/authConfig.ts
  apps/api/src/config/valkeyConfig.ts
  apps/api/src/controllers/applicationController.ts
  apps/api/src/controllers/collaboratorsController.ts
  apps/api/src/controllers/fileController.ts
  apps/api/src/controllers/signatureController.ts
  apps/api/src/controllers/stateManager.ts
  apps/api/src/controllers/validation.ts
  apps/api/src/db/dbml.ts
  apps/api/src/db/index.ts
  apps/api/src/external/oidcAuthClient.ts
  apps/api/src/middleware/authMiddleware.ts
  apps/api/src/resources/swagger.yaml
  apps/api/src/routes/applicationRouter.ts
  apps/api/src/routes/authRouter.ts
  apps/api/src/routes/collaboratorsRouter.ts
  apps/api/src/routes/fileRouter.ts
  apps/api/src/routes/signatureRouter.ts
  apps/api/src/routes/types.ts
  apps/api/src/server.ts
  apps/api/src/service/applicationActionService.ts
  apps/api/src/service/applicationService.ts
  apps/api/src/service/authService.ts
  apps/api/src/service/collaboratorsService.ts
  apps/api/src/service/fileService.ts
  apps/api/src/service/signatureService.ts
  apps/api/src/service/types.ts
  apps/api/src/utils/results.ts
  apps/api/src/utils/routes.ts
  apps/api/tests/api/application-controller.test.ts
  apps/api/tests/api/collaborators-controller.test.ts
  apps/api/tests/api/file-api.test.ts
  apps/api/tests/api/signature-api.test.ts
  apps/api/tests/services/application-action-service.test.ts
  apps/api/tests/services/application-service.test.ts
  apps/api/tests/services/collaborators-service.test.ts
  apps/api/tests/services/file-service.test.ts
  apps/api/tests/services/signature-service.test.ts
  apps/api/tests/utils/testUtils.ts
  apps/api/tsconfig.build.json
  apps/ui/src/api/mutations/useAddCollaborator.ts
  apps/ui/src/api/mutations/useDeleteCollaborator.ts
  apps/ui/src/api/mutations/useEditCollaborator.ts
  apps/ui/src/api/queries/useGetCollaborators.ts
  apps/ui/src/api/useGetCollaborators.ts
  apps/ui/src/pages/applications/sections/collaborators.tsx
  package.json
  packages/data-model/src/types.ts
  packages/logger/src/middleware/index.ts
  packages/request-utils/src/validation.ts
  packages/validation/src/routes/applicationRoutes.ts
  packages/validation/src/routes/collaboratorsRoutes.ts
  packages/validation/src/routes/signatureRoutes.ts
  pnpm-lock.yaml
Labels: enhancement, daco-api, validation-package
